@tailwind preflight;

@tailwind components;

@import "animations";
@import "editor";
@import "multiselect";
@import "modal";

.btn-primary{
    @apply border border-primary text-primary p-2 rounded no-underline;
}

.btn-primary:hover{
    @apply bg-primary text-white;
}

.btn-primary[disabled]{
    @apply text-light bg-white border-light cursor-wait;
}

.btn-primary:focus{
    @apply outline-none;
}

.btn-light{
    @apply border border-light text-light p-2 rounded no-underline;
}

.btn-light:hover{
    @apply bg-light text-white;
}

.btn-light[disabled]{
    @apply text-light bg-white border-light cursor-wait;
}

.btn-light:focus{
    @apply outline-none;
}

.btn-sm{
    @apply py-1 px-2;
}

.input-group{
    @apply border-b border-very-light pt-4 pb-2;
}

.input-label{
    @apply font-bold block;
}

.input{
    @apply mt-3 w-full bg-white p-0 appearance-none;
}

.input:focus{
    @apply outline-none;
}

[contenteditable]:focus{
    outline: 0;
}

@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}